
/* navigation styles
/* ========================================== */
.nav-container,
nav {
  overflow: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav a {
  color: #333333;
}

.navbar {
  background: transparent;
  height: 94px;
  max-height: 94px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.brand {
  float: left;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.brand a {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}

.navicon {
  position: relative;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 0;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

#nav-menu a {
  font-weight: 300;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: #ffffff;
}

.sticky nav.transparent .navbar {
  background: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }
  .nav-inner {
    background: #ffffff;
  }
  .transparent {
    background: transparent;
  }
  .navicon {
    padding-right: 10px;
  }
  nav ul.right {
  float: left;
  }
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  text-shadow: none;
}
.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.circle {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 36px;
  color: #111112;
}

.circle.dark {
  border-color: #292929;
}

.circle.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.circle.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31.0px;
  border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
  border-color: transparent transparent transparent #292929;
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25.0px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 31px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

body {
		background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}



html,body {
  width: 100%;
  overflow-x: hidden;

}


html {
  font-size: 100%;
}

nav-container{
  overflow:visible;
  transition:all 0.3s ease;
}

.navbar{
height:90px;
margin:0;
border-radius:0;

background:transparent;

}

.brand{
  padding:20px 50px 20px 20px;
	text-transform:uppercase;
	letter-spacing: 0.3rem;
	float:left;
}

nav a {
    color: #333333;
}

.brand a {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
}

a {
  outline: none;
  text-decoration: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}


.navicon{
	display:flex;
	justify-content: flex-end;
	padding:20px 0 0 ;
	position:relative;
	right:0;

}

.circle i {
  font-size: 36px;
  color: #111112;
}

.circle.dark {
  border-color: #292929;
}

#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
	padding-top: 130px;
  padding-bottom: 100px;
	min-height:400px;
}

.headertwo{
  background: url('images/kakk.png') no-repeat;
	z-index: -1;
}

#header .header-thumb {
  background: #ffffff;
  border: 10px solid #f9f9f9;
  padding:6px 21px 12px 20px;
	z-index:99;
}


h3{
	font-weight:400px;
	font-size:14px;
	letter-spacing: 3px;
}

h1 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  font-size: 1rem;
}




h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

.header-title{
display:grid;
grid-gap: .3rem;
grid-template-columns:repeat(8,3rem);
grid-auto-rows: 3rem;
margin:auto;
text-transform: uppercase;

}

h1 span{
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.8);
	align-items:center;
	 padding:3px;
	 margin:0 0 3px 0;
			box-shadow: .15rem .15rem .15rem 0 grey;
}

.header-title .span-1 {
    grid-column: 8/span 1;
}

.header-title .span-2 {

    grid-column: 12/span 1;
}
.header-title span {
    transition: transform .5s ease-in;
}

.header-title:hover span:first-of-type{transform:translate3d(20rem,12rem,0) rotate(-15deg)}
.header-title:hover span:nth-of-type(2){transform:translate3d(-12rem,5rem,0) rotate(7deg)}
.header-title:hover span:nth-of-type(3){transform:translate3d(11rem,-6rem,0) rotate(-12deg)}
.header-title:hover span:nth-of-type(4){transform:translate3d(11rem,3rem,0) rotate(-17deg)}
.header-title:hover span:nth-of-type(5){transform:translate3d(19rem,4rem,0) rotate(11deg)}
.header-title:hover span:nth-of-type(6){transform:translate3d(-20rem,11rem,0) rotate(15deg)}.header-title:hover span:nth-of-type(7){transform:translate3d(29rem,-6rem,0) rotate(17deg)}
.header-title:hover span:nth-of-type(8){transform:translate3d(7rem,-6.5rem,0) rotate(13deg)}
.header-title:hover span:nth-of-type(9){transform:translate3d(5rem,7.5rem,0) rotate(20deg)}
.header-title:hover span:nth-of-type(10){transform:translate3d(17rem,6rem,0) rotate(5deg)}
.header-title:hover span:nth-of-type(11){transform:translate3d(-15rem,-8rem,0) rotate(-6deg)}
.header-title:hover span:nth-of-type(12){transform:translate3d(-15rem,-1rem,0) rotate(10deg)}
.header-title:hover span:nth-of-type(13){transform:translate3d(-13.5rem,3.5rem,0) rotate(-20deg)}.header-title:hover span:nth-of-type(14){transform:translate3d(-10rem,-.5rem,0) rotate(-26deg)}
.header-title:hover span:nth-of-type(15){transform:translate3d(-10rem,-.5rem,0) rotate(-26deg)}.header-title:hover span:nth-of-type(16){ transform:translate3d(-13.5rem,3.5rem,0) rotate(-20deg)}

#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

#about .col-md-4 {
  padding-top: 16px;
  padding-bottom: 32px;
}

#about img {
  padding-bottom: 20px;
}

footer {
  background: #141414;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.social-icon li{
list-style:none;
display:inline-block;
}

.social-icon li a{
	border-radius:100px;
	border:1px solid transparent;
	color: #909090;
	  transition: all 0.4s ease-in-out;
		width:100px;
		margin: 14px auto 8px 8px;
		padding:0px;
		position:relative;
		font-size:20px;

}

::-webkit-scrollbar {
    display: none;
}
